@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "League Spartan", sans-serif;
}
.logo-font {
  font-family: "Pacifico", cursive;
}

html {
  scroll-behavior: smooth;
}
